<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.polaris.he.lipstick.dao.SkuDao">

    <select id="getByCode" resultType="com.polaris.he.lipstick.dao.object.SkuDO">
        select
            type as type,
            brand_code as brandCode,
            goods_code as goodsCode,
            sku_code as skuCode,
            sku_name as skuName,
            sku_by_name as skuByName,
            url as url,
            extension as extension
        from sku
        where type=#{type,jdbcType=VARCHAR} and sku_code=#{code,jdbcType=VARCHAR}
    </select>
</mapper>